.canvas {
	height: 462px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
}
.floor-stuff {
	display: flex;
	justify-content: center;
	position: relative;
}
.shop {
	width: 290px;
	height: 192px;
	background: url('./assets/shop.svg') no-repeat;
	position: relative;
}
.shop-logo {
	height: 49.41px;
	position: absolute;
	left: 107px;
	top: -28px;
	border-radius: 6px 6px 0 0;
	z-index: 2;
}
.shop-eaves {
	overflow: hidden;
	width: 72%;
	height: 18px;
	position: absolute;
	left: 50px;
	top: 2px;
}
.shop-eaves::before {
	width: 100%;
	height: 100%;
	content: '';
	z-index: 1;
	position: absolute;
	left: -91%;
	top: 0;
	background-image: url('./assets/light.svg');
	background-repeat: no-repeat;
	background-size: 140%;
	background-position: 0px;
	animation: light-eaves 4s ease-in-out infinite;
}
.shop-eaves::after {
	width: 100%;
	height: 100%;
	content: '';
	z-index: 1;
	position: absolute;
	left: -46%;
	top: 0;
	background-image: url('./assets/light.svg');
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 0px;
	animation: light-eaves 4s ease-in-out infinite;
}
.shop-glass {
	position: absolute;
	overflow: hidden;
}
.shop-glass--left {
	width: 23.76724137931034%;
    height: 32.9541666666667%;
	left: 14.13793103448276%;
    top: 53.64583333333%;
}
.shop-glass--right {
	width: 67.414px;
    height: 63.263px;
	left: 200px;
    top: 103px;
}
.glass-main {
	background: #ffffff;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.bag {
	position: absolute;
	transform-origin: bottom center;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.bag1 {
	left: 8px;
	top: 24px;
	z-index: 2;
	animation-name: flatten;
}
.bag2 {
	left: 32px;
	top: 35px;
	z-index: 1;
	animation-name: flatten-reverse;
}
.bag3 {
	left: 10px;
	top: 35px;
	z-index: 1;
	animation-name: flatten-reverse;
}
.bag4 {
	left: 27px;
	top: 18px;
	z-index: 2;
	animation-name: flatten;
}
.star {
	position: absolute;
	z-index: 3;
	transform: scale(0) rotate(-25deg);
}
.star1 {
	left: 8px;
	top: 25px;
	animation: star1 4s ease-in-out infinite;
}
.star2 {
	left: 36px;
	top: 10px;
	animation: star2 4s ease-in-out infinite;
}
.star3 {
	left: 24px;
	top: -2px;
	animation: star3 4s ease-in-out infinite;
}
.star4 {
	left: 34px;
	top: 20px;
	animation: star4 4s ease-in-out infinite;
}
.star5 {
	left: 44px;
	top: 4px;
	animation: star5 4s ease-in-out infinite;
}
.star6 {
	left: 34px;
	top: -6px;
	animation: star2 4s ease-in-out infinite;
}
.glass-light {
	transform: scale(5);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.glass-light::before {
	width: 100%;
	height: 100%;
	content: '';
	z-index: 1;
	position: absolute;
	left: -45%;
	top: 0;
	background-image: url('./assets/light.svg');
	background-repeat: no-repeat;
	background-size: 140%;
	background-position: 0px;
}
.shop-glass--left .glass-light::before {
	animation: light-left 4s ease-in-out infinite;
}
.shop-glass--right .glass-light::before {
	animation: light-right 4s ease-in-out infinite;
}
.tree-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}
.tree {
	position: relative;
	left: -10px;
	top: 1px;
}
.line {
	transform: scale(1.2, 1);
	position: relative;
	right: -6px;
    height: 2px;
}
.ding {
	position: absolute;
	left: 41%;
	top: -49.9047619048%;
	animation: breathe 3s ease-in-out infinite;
}
@keyframes breathe {
	0%, 100% {
		transform: translate3d(0px,-2px,0px) scale3d(1, 1, 1);
	}
	50% {
		transform: translate3d(0px,6px,0px) scale3d(0.85, 0.85, 0.85);
	}
}
.cloud1 {
	position: absolute;
	left: 5.86666666667%;
	top: -74.160173%;
	animation: float 2s ease-in-out alternate-reverse infinite;
}
.cloud2 {
	position: absolute;
	left: 60.26666666667%;
	top: -62.831169%;
	animation: float 2s ease-in-out alternate infinite;
}
.cloud3 {
	position: absolute;
	left: 78.4%;
	top: -52.502165%;
	animation: float 2s ease-in-out alternate-reverse infinite;
}
.bird1 {
	position: absolute;
	left: 74.6666666667%;
	top: -29.411255%;
	display: flex;
	justify-content: flex-start;
}
.bird2 {
	position: absolute;
	left: 85.86666666667%;
	top: -18.78355%;
	display: flex;
	justify-content: flex-start;
}
.bird-wings {
	position: relative;
	left: 3px;
    transform-origin: bottom right;
    animation-name: fly-left;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.bird-wings-flip {
    transform-origin: bottom left;
    animation-name: fly-right;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.bird1,
.bird2 {
	animation-name: float;
	animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.bird1 {
	animation-duration: 1.4s;
}
.bird2 {
	animation-duration: 1.2s;
}
.bird1 .bird-wings {
	animation-duration: 1.4s;
}
.bird1 .bird-wings-flip {
	animation-duration: 1.4s;
}
.bird2 .bird-wings {
	animation-duration: 1.2s;
}
.bird2 .bird-wings-flip {
	animation-duration: 1.2s;
}
@keyframes float {
	0% {
		transform: translate3d(0px,-2px,0px);
	}
	100% {
		transform: translate3d(0px,2px,0px);
	}
}
@keyframes light {
	0% {
		transform: translate3d(0px,0px,0px);
	}
	100% {
		transform: translate3d(120%,0px,0px);
	}
}
@keyframes light-eaves {
	0%, 10% {
		transform: translate3d(0px,0px,0px);
	}
	66%, 100% {
		transform: translate3d(130%,0px,0px);
	}
}
@keyframes light-left {
	0% {
		transform: translate3d(0px,0px,0px);
	}
	77%, 100% {
		transform: translate3d(120%,0px,0px);
	}
}
@keyframes light-right {
	0%, 23% {
		transform: translate3d(0px,0px,0px);
	}
	100% {
		transform: translate3d(120%,0px,0px);
	}
}
@keyframes fly-left {
	0% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}
@keyframes fly-right {
	0% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(10deg);
	}
}
@keyframes flatten {
	0%, 100% {
		transform: scale(1, 1);
	}
	33.333333% {
		transform: scale(1, 1.02);
	}
	66.666666% {
		transform: scale(1.04, 0.97);
	}
}
@keyframes flatten-reverse {
	0%, 100% {
		transform: scale(1, 1);
	}
	33.333333% {
		transform: scale(1.04, 0.97);
	}
	66.666666% {
		transform: scale(1, 1.02);
	}
}
@keyframes star {
	0% {
		transform: scale(0) rotate(-25deg);
	}
	25% {
		transform: scale(0.7) rotate(-25deg);
	}
	40% {
		transform: scale(0.9) rotate(-10deg);
	}
	50% {
		transform: scale(0.7) rotate(0deg);
	}
	100% {
		transform: scale(0) rotate(0deg);
	}
}
@keyframes star1 {
	0%, 7.5% {
		transform: scale(0) rotate(-25deg);
	}
	15% {
		transform: scale(0.7) rotate(-25deg);
	}
	19.5% {
		transform: scale(0.9) rotate(-10deg);
	}
	22.5% {
		transform: scale(0.7) rotate(0deg);
	}
	30%, 100% {
		transform: scale(0) rotate(0deg);
	}
}
@keyframes star2 {
	0%, 22.5% {
		transform: scale(0) rotate(-25deg);
	}
	30% {
		transform: scale(0.7) rotate(-25deg);
	}
	34.5% {
		transform: scale(0.9) rotate(-10deg);
	}
	37.5% {
		transform: scale(0.7) rotate(0deg);
	}
	52.5%, 100% {
		transform: scale(0) rotate(0deg);
	}
}
@keyframes star3 {
	0%, 30% {
		transform: scale(0) rotate(-25deg);
	}
	37.5% {
		transform: scale(0.7) rotate(-25deg);
	}
	42% {
		transform: scale(0.9) rotate(-10deg);
	}
	45% {
		transform: scale(0.7) rotate(0deg);
	}
	60%, 100% {
		transform: scale(0) rotate(0deg);
	}
}
@keyframes star4 {
	0%, 12.5% {
		transform: scale(0) rotate(-25deg);
	}
	20% {
		transform: scale(0.7) rotate(-25deg);
	}
	24.5% {
		transform: scale(0.9) rotate(-10deg);
	}
	27.5% {
		transform: scale(0.7) rotate(0deg);
	}
	42.5%, 100% {
		transform: scale(0) rotate(0deg);
	}
}
@keyframes star5 {
	0%, 15% {
		transform: scale(0) rotate(-25deg);
	}
	22.5% {
		transform: scale(0.7) rotate(-25deg);
	}
	27% {
		transform: scale(0.9) rotate(-10deg);
	}
	30% {
		transform: scale(0.7) rotate(0deg);
	}
	45%, 100% {
		transform: scale(0) rotate(0deg);
	}
}
@keyframes star6 {
	0%, 15% {
		transform: scale(0) rotate(-25deg);
	}
	22.5% {
		transform: scale(0.7) rotate(-25deg);
	}
	27% {
		transform: scale(0.9) rotate(-10deg);
	}
	30% {
		transform: scale(0.7) rotate(0deg);
	}
	45%, 100% {
		transform: scale(0) rotate(0deg);
	}
}